
/* Boilerplate stuff
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    box-sizing: border-box; 
    scroll-behavior: smooth; }
*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit; }
/* *:focus {
    outline: none; } */
/* body {
    -webkit-font-smoothing: antialiased; } */


/* Z-indexex
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    --mobile-footer-nav: 500;
}


/* Colours
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    --tdnd-bkg-dark:   hsl(  20,  1%, 70% );
    --tdnd-bkg-light:  hsl(  20,  1%, 95% );

    --primary-highlight: rgb(  49,  72, 193 );

    --mobile-nav-bg:     rgb( 179, 177, 177 );
    --mobile-nav-color:  rgb( 235, 235, 235 );
}


/* Nav Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main-nav {
    background-color: var( --tdnd-bkg-dark );
    height: 70px;
}



